@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

@import "variable.css";

@import "index/status_bar.css";
@import "index/login.css";

@import "main/friends/nav_bar.css";
@import "main/friends/screen_header.css";

body {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  align-items: center;
}
