@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

@import "variable.css";

@import "index/status_bar.css";
@import "index/login.css";

@import "main/friends/nav_bar.css";
@import "main/friends/screen_header.css";
@import "main/friends/friends_link.css";
@import "main/friends/channel_header.css";
@import "main/friends/user_component.css";

@import "chat/user_component.css";

@import "find/status_bar.css";
@import "find/find_bar.css";
@import "find/open_chat.css";
@import "find/open_post.css";

@import "more/more_header.css";
@import "more/suggestions.css";

@import "settings/header.css";

@import "chatting/header.css";

body {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #2e363e;
  align-items: center;
}

.main_screen {
  padding: 0px var(--horizontal_space);
}
