.screen_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal_space);
  margin-bottom: 15px;
}

.screen_header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen_header__icon span {
  margin-left: 25px;
}

.friends_screen {
  padding: 0px var(--horizontal_space);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen_header__icon .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
